<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask基本</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body class="flex-wrapper">
    <nav>
        <a href="../index.html" id="home-icon">
              <img src="../images/xbp.ico" alt="ホーム">
          </div>
          <ul>
              <li class="dropdown">
                 <a href="#portfolio">ポートフォリオ</a>
                 <ul class="dropdown-menu">
                    <li><a href="../gamedevelopment/0.html">ゲーム開発1</a></li>
                    <li><a href="../VR/0.html">VRゲーム開発</a></li>
                    <li><a href="../minigame/index.html">ミニゲーム</a></li>
                 </ul>
             </li>
          </ul>
      </nav>
    <main>
        <section id="overview">
            <h2>Flask</h2>
            <p>
                コード<br>
            </p>
            <h4>app.py</h4>
            <code>
                <ol style="list-style:decimal-leading-zero outside;in-left:0;padding-left:36px;margin:0;background-color:#EEF;color:#000;">
                <li style="background-color:#EFF;">from flask import Flask, render_template, request, session, redirect,flash, url_for</li>
                <li style="background-color:#EEF;">from csv import reader,writer</li>
                <li style="background-color:#EFF;"></li>
                <li style="background-color:#EEF;">app = Flask(__name__)</li>
                <li style="background-color:#EFF;"></li>
                <li style="background-color:#EEF;"># 編集ゾーンーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー</li>
                <li style="background-color:#EFF;">##ここでルートのURLが指定された時に実行される</li>
                <li style="background-color:#EEF;"></li>
                <li style="background-color:#EFF;">def get_id():</li>
                <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;with open('./mmcsv.csv', 'r') as csv_file:</li>
                <li style="background-color:#EFF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;csv_reader = reader(csv_file)</li>
                <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;list_mm = list(csv_reader)</li>
                <li style="background-color:#EFF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;max_value=0</li>
                <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;for data in list_mm:</li>
                <li style="background-color:#EFF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if data[0]!='ID':</li>
                <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if int(data[0])&gt;max_value:</li>
                <li style="background-color:#EFF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;max_value=int(data[0])</li>
                <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;new_id=max_value+1</li>
                <li style="background-color:#EFF;">&nbsp;&nbsp;&nbsp;&nbsp;return new_id</li>
                <li style="background-color:#EEF;"></li>
                <li style="background-color:#EFF;">@app.route('/')</li>
                <li style="background-color:#EEF;">def index():</li>
                <li style="background-color:#EFF;">&nbsp;&nbsp;&nbsp;&nbsp;#index.htmlがレンダリングされる</li>
                <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;with open('./mmcsv.csv', 'r') as csv_file:</li>
                <li style="background-color:#EFF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;csv_reader = reader(csv_file)</li>
                <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;list_mm = list(csv_reader)</li>
                <li style="background-color:#EFF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;for data in list_mm:</li>
                <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;data[3]="https://www.google.com/maps?q=" + data[3].replace("(","").replace(")","").replace(" ","").replace("．",".")</li>
                <li style="background-color:#EFF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li style="background-color:#EEF;"></li>
                <li style="background-color:#EFF;">&nbsp;&nbsp;&nbsp;&nbsp;return render_template("index.html",mmlist=list_mm)</li>
                <li style="background-color:#EEF;"></li>
                <li style="background-color:#EFF;">@app.route('/input')</li>
                <li style="background-color:#EEF;">def move_to_input():</li>
                <li style="background-color:#EFF;">&nbsp;&nbsp;&nbsp;&nbsp;return render_template("input.html")</li>
                <li style="background-color:#EEF;"></li>
                <li style="background-color:#EFF;">@app.route('/reg',methods=["POST"])</li>
                <li style="background-color:#EEF;">def registration():</li>
                <li style="background-color:#EFF;"></li>
                <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;place = request.form["place"]</li>
                <li style="background-color:#EFF;">&nbsp;&nbsp;&nbsp;&nbsp;content = request.form["content"]</li>
                <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;longitude_latitude = '(' + request.form["longitude_latitude"] + ')'</li>
                <li style="background-color:#EFF;">&nbsp;&nbsp;&nbsp;&nbsp;hashtag = request.form["hashtag"]</li>
                <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;tips = request.form["tips"]</li>
                <li style="background-color:#EFF;"></li>
                <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;id = get_id()</li>
                <li style="background-color:#EFF;"></li>
                <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;data = [[id,place,content,longitude_latitude,hashtag,tips]]</li>
                <li style="background-color:#EFF;"></li>
                <li style="background-color:#EEF;"># CSVファイルに書き込む</li>
                <li style="background-color:#EFF;">&nbsp;&nbsp;&nbsp;&nbsp;with open('./mmcsv.csv', 'a', newline='', encoding='utf-8') as file:</li>
                <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;csv_writer = writer(file)</li>
                <li style="background-color:#EFF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;csv_writer.writerows(data)</li>
                <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;return redirect(url_for('index'))</li>
                <li style="background-color:#EFF;"></li>
                <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;with open('./mmcsv.csv', 'a', newline='', encoding='utf-8') as file:</li>
                <li style="background-color:#EFF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;csv_writer = writer(file)</li>
                <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;csv_writer.writerows(data)</li>
                <li style="background-color:#EFF;">&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;return redirect(url_for('index'))</li>
                <li style="background-color:#EFF;">&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li style="background-color:#EEF;"># ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー</li>
                <li style="background-color:#EFF;">if __name__ == '__main__':</li>
                <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;app.run()</li>
                <li style="background-color:#EFF;"></li>
                </ol></code><br>
                <h4>index.html</h4>
                <code>
                    <ol style="list-style:decimal-leading-zero outside;in-left:0;padding-left:36px;margin:0;background-color:#EEF;color:#000;">
                    <li style="background-color:#EFF;">&lt;!DOCTYPE html&gt;</li>
                    <li style="background-color:#EEF;">&lt;html lang="jp"&gt;</li>
                    <li style="background-color:#EFF;">&lt;head&gt;</li>
                    <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;&lt;title&gt;flaskテスト&lt;/title&gt;</li>
                    <li style="background-color:#EFF;">&nbsp;&nbsp;&nbsp;&nbsp;&lt;meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes"&gt;</li>
                    <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;&lt;meta charset="UTF-8"&gt;</li>
                    <li style="background-color:#EFF;">&nbsp;&nbsp;&nbsp;&nbsp;&lt;link rel="stylesheet" href="../static/css/style.css"&gt;</li>
                    <li style="background-color:#EEF;">&lt;/head&gt;</li>
                    <li style="background-color:#EFF;">&lt;body&gt;</li>
                    <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;&lt;h1&gt;テスト&lt;/h1&gt;</li>
                    <li style="background-color:#EFF;">&nbsp;&nbsp;&nbsp;&nbsp;&lt;a href="{{ url_for('move_to_input')}}"&gt;登録ページ&lt;/a&gt;</li>
                    <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;&lt;div&gt;</li>
                    <li style="background-color:#EFF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% for data in mmlist %}</li>
                    <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if data[1] == "場所" %}</li>
                    <li style="background-color:#EFF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ data[1] }}&lt;br&gt;</li>
                    <li style="background-color:#EEF;"></li>
                    <li style="background-color:#EFF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% else %}</li>
                    <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a href ={{ data[3] }} target="_blank"&gt;{{ data[1] }} &lt;/a&gt;:{{ data[2] }}&lt;br&gt;</li>
                    <li style="background-color:#EFF;"></li>
                    <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}</li>
                    <li style="background-color:#EFF;"></li>
                    <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endfor %}&lt;br&gt;</li>
                    <li style="background-color:#EFF;"></li>
                    <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li style="background-color:#EFF;">&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;</li>
                    <li style="background-color:#EEF;">&lt;/body&gt;</li>
                    <li style="background-color:#EFF;">&lt;/html&gt;</li>
                    </ol></code><br>
                    <h4>input.html</h4>
                    <code>
                        <ol style="list-style:decimal-leading-zero outside;in-left:0;padding-left:36px;margin:0;background-color:#EEF;color:#000;">
                        <li style="background-color:#EFF;">&lt;!DOCTYPE html&gt;</li>
                        <li style="background-color:#EEF;">&lt;html lang="jp"&gt;</li>
                        <li style="background-color:#EFF;">&lt;head&gt;</li>
                        <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;&lt;title&gt;登録ページ&lt;/title&gt;</li>
                        <li style="background-color:#EFF;">&nbsp;&nbsp;&nbsp;&nbsp;&lt;meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes"&gt;</li>
                        <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;&lt;meta charset="UTF-8"&gt;</li>
                        <li style="background-color:#EFF;">&nbsp;&nbsp;&nbsp;&nbsp;&lt;link rel="stylesheet" href="../static/css/style.css"&gt;</li>
                        <li style="background-color:#EEF;">&lt;/head&gt;</li>
                        <li style="background-color:#EFF;">&lt;body&gt;</li>
                        <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;&lt;h1&gt;登録&lt;/h1&gt;</li>
                        <li style="background-color:#EFF;">&nbsp;&nbsp;&nbsp;&nbsp;&lt;form method="POST" action="{{ url_for('registration')}}" enctype="multipart/form-data"&gt;</li>
                        <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;場所&lt;br&gt;</li>
                        <li style="background-color:#EFF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="text" name="place" size="35"&gt;&lt;br&gt;</li>
                        <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;内容&lt;br&gt;</li>
                        <li style="background-color:#EFF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="text" name="content" size="150"&gt;&lt;br&gt;</li>
                        <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;緯度経度&lt;br&gt;</li>
                        <li style="background-color:#EFF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="text" name="longitude_latitude" size="100"&gt;&lt;br&gt;</li>
                        <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ハッシュタグ&lt;br&gt;</li>
                        <li style="background-color:#EFF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="text" name="hashtag" size="100"&gt;&lt;br&gt;</li>
                        <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;豆知識&lt;br&gt;</li>
                        <li style="background-color:#EFF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="text" name="tips" size="150"&gt;&lt;br&gt;</li>
                        <li style="background-color:#EEF;"></li>
                        <li style="background-color:#EFF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;br&gt;&lt;br&gt;</li>
                        <li style="background-color:#EEF;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="submit" value="登録"&gt;</li>
                        <li style="background-color:#EFF;">&nbsp;&nbsp;&nbsp;&nbsp;&lt;/form&gt;</li>
                        <li style="background-color:#EEF;">&lt;/body&gt;</li>
                        <li style="background-color:#EFF;">&lt;/html&gt;</li>
                        </ol></code>
            
        </section>
    </main>
    <footer>
        <div class="container">
            <p>© 2023 kajiyama. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>

